.nav{
    background-color: var(--secondary-color-transparent);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-family: var(--title-font),sans-serif;
    height: 8.4vh;
}

.nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.nav section:last-child article:first-child {
    display: flex;
    gap: 1rem;
    font-size: 1.2em;
    align-items: center;
}

.nav section:last-child article:last-child {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--primary-color);
    padding : 1em;
    border-radius: 30px;
    font-size: 1.2em;
    align-items: center;
}

.link{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2em;
    border-right: 3px solid var(--primary-color);
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.buttonMenu{
    cursor: pointer;
}

.ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25vw;
    background-color: var(--primary-color);
    transition : transform .8s ease-in-out;
    transform: translateX(-100%);
    z-index: 100;
}

.open{
    transform: translateX(0);
}

.close{
    transform: translateX(-100%);
}

.headMenu{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    height: 5vh;
    font-size: 1.8em;
    align-items: center;
}

.p{
    width: 100%;
    transform: translateX(45%);
}

.button {
    border: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

.li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid var(--secondary-color);
    padding-left: 2em;
}

.linkMenu {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.4em;

}