.article {
    background-image: url("/images/cele.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-font), sans-serif;
    font-size: var(--title-size);
    color : var(--primary-color);
    text-shadow: 2px 2px 2px var(--secondary-color);

    @media screen and (max-width: 568px){
        font-size: 1.3em;
        text-align: center;
    }
}


.h2{
    text-align: center;
    margin: 5vh auto 0 auto;
    font-family: var(--title-font), sans-serif;
    font-size: 3em;
    font-weight: lighter;
    @media screen and (max-width: 568px){
        font-size: 2em;
    }
}

.h3 {
    text-align: center;
    margin-bottom: 5vh;
    font-family: var(--otherTitle-font), sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color : var(--warm2-color);

    @media screen and (max-width: 568px) {
        line-height: 1.1em;

    }
}


.articleLocations {

    display: flex;
    width: 70vw;
    justify-content: space-around;
    margin: 5vh auto;
    @media screen and (max-width: 568px){
        display: flex;
        flex-direction: column;
        width: 90vw;
        gap: 1rem;
    }
    @media screen and (min-width: 569px) and (max-width: 1024px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        padding: 0 1em;
        gap: 1rem;

    }
    @media screen and (min-width: 1025px) and (max-width: 1280px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        padding: 0 1em;
        gap: 1rem;
    }
}