* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "gotcha";
  src: url("/fonts/gotcha-regular.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins.ttf");
}

:root {
  --primary-color: #ffff;
  --secondary-color: #000000;
  --secondary-color-transparent: rgba(0, 0, 0, 0.2);
  --light-color: #fed366;
  --warm-color: #de4d0e;
  --warm2-color: #fc841c;
  --cold-color: #fee8b7;
  --title-font: "poppins";
  --otherTitle-font: "gotcha";
  --main-title-size : 6em;
  --title-size : 2em;
  --main-title-size-responsive : 3em;
}
