.article{
    background-image: url("/images/cele.jpg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color : var(--primary-color);
    font-family: var(--title-font), sans-serif;
    font-size: var(--title-size);
    text-shadow: 2px 2px 2px var(--secondary-color);

    @media screen and (max-width: 568px){
        font-size: 1.3em;
        text-align: center;
    }

}

.articleInfo {
    width: 60vw;
    margin : 5vh auto;
    @media screen and (max-width: 568px) {
        width: 95vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px) {
        width: 80vw;
    }
}

.h2 {
    font-size: 3em;
    text-align: center;
    font-family: var(--title-font), sans-serif;
}

.articleInfo h3 {
    font-size: 3em;
    text-align: center;
    font-family: var(--otherTitle-font), sans-serif;
    font-weight: lighter;
    color : var(--warm2-color);
    margin-bottom: 5vh;
}

.ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
    gap : 2em;
    @media screen and (max-width: 568px) {
      display: flex;
      flex-direction: column;
    }
}

.li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--cold-color);
    min-height: 20vh;
    font-family: var(--title-font), sans-serif;
    text-align: center;

    @media screen and (max-width: 568px){
        padding : 0.5em
    }

}
